.wrapper {
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 0.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(56, 56, 56);
}

input {
  margin-bottom: 0.5rem;
  height: 2.5rem;
  width: 20rem;
  border-radius: 1.5rem;
  border-width: 1px;
  padding-left: 1rem;
  font-size: 1.1rem;
}

input::placeholder {
  font-size: 0.9rem;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

button {
  margin-top: 0.3rem;
  width: 10rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 0px;
  background-color: rgb(210, 216, 206);
}

button:hover {
  cursor: pointer;
  background-color: rgb(149, 156, 145);
}